<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find accommodation, transport, restaurants or other services in Split surrounding">
    <meta name="author" content="IG PROG">

    <title>Riviera Split</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.13.0/angular-translate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-partial/2.13.0/angular-translate-loader-partial.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

</head>

<body id="page-top" ng-app="app" ng-controller="appCtrl" ng-cloak>

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="color:black">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">Riviera Split</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="admin/signup.html"><i class="fa fa-sign-in"></i> {{ 'Sign Up' | translate }}</a></li>
                    <li><a href="admin/"><i class="fa fa-sign-out"></i> {{ 'Login' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="row" style="margin:55px 0px 0px 20px">
                <div class="col-xs-6 text-left">
                    <div>
                        <img src="img/map.png" class="img-circle" style="width:150px; cursor:pointer;" data-toggle="modal" data-target="#myModal" />
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <input type="button" value="hr" class="btn btn-default" ng-click="setLanguage('hr')" />
                    <input type="button" value="en" class="btn btn-default" ng-click="setLanguage('en')" />
                </div>
            </div>
            <div class="header-content-inner">
                <h1 id="homeHeading">Riviera Split</h1>
                <h2 class="lead text-center pt3" style="font-weight:600; font-size:22px">{{'sitedesc' | translate}}</h2>
                <!--<div>
                    <input type="button" value="hr" class="btn btn-default" ng-click="setLanguage('hr')" />
                    <input type="button" value="en" class="btn btn-default" ng-click="setLanguage('en')" />
                </div>-->
                <div class="row mt-10 text-uppercase" style="color:lightskyblue">
                    <div class="col-sm-4">
                        <a href="#products" ng-click="filter('b8b3ae5d-cd80-416f-99a9-b79916820e97')" title="{{'search accommodation' | translate}}">
                            <div class="well transparent hover">
                                <i class="fa fa-home fa-3x"></i>
                                <h2>{{'accommodation' | translate}}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#products" ng-click="filter('26c0df2f-fdae-4680-9a68-4bdff4ea1d65')" title="{{'search transport' | translate}}">
                            <div class="well transparent hover">
                                <i class="fa fa-car fa-3x"></i>
                                <h2>{{'transport' | translate}}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#products" ng-click="filter('34b7dfb2-42a5-4edc-868d-88c91dcd3e68')" title="{{'search eating' | translate}}">
                            <div class="well transparent hover">
                                <i class="fa fa-cutlery fa-3x"></i>
                                <h2>{{'food and fun' | translate}}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="btn btn-primary btn-xl page-scroll">
                    <input ng-model="searchValue" ng-change="filter(searchValue)" type="text"
                           style="color:Black; border-radius:10px; height:30px; padding: 15px; margin-right:3px"
                           placeholder="{{'search for' | translate}}...">
                    <a href="#products" class="page-scroll" style="color:White"><span class="fa fa-search"></span></a>
                </div>
            </div>
        </div>
    </header>

    <div id="products">
        <div class="row">
            <div class="col-md-3 p-30">
                <sort-directive></sort-directive>
            </div>
            <div class="col-md-9 p-30">
                <product-directive filtercategory="" products="products" filtervalue="filterValue" ordervalue="orderValue"></product-directive>
            </div>
        </div>
    </div>
    <div class="text-right" style="margin:10px">
        <hr />
        <div class="text-right" style="padding:5px 10px 0px 0px">
            <a href="https://www.rivierasplit.com" class="text-primary small" title="Riviera Split">&copy 2019 {{config.appname}}</a>
            <!--<a href="https://www.igprog.hr" class="text-primary small" title="IG PROG, obrt za računalno programiranje">Developed by {{config.copyright}}</a>-->
        </div>
    </div>

        <modal-directive img="'img/map.png'"></modal-directive>

        <!-- jQuery -->
        <script src="vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="js/creative.min.js"></script>


        <script src="js/app.js"></script>
        <script src="js/functions.js"></script>


</body>

</html>
