<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Riviera Split</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.13.0/angular-translate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-partial/2.13.0/angular-translate-loader-partial.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="js/app.js"></script>

</head>

<body id="page-top" ng-app="app" ng-controller="appCtrl" ng-cloak>

    <!-- <div ui-view></div>-->


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="color:black">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">{{'Riviera Split' | translate}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><i class="fa fa-sign-in"></i> {{'Sign Up' | translate}}</a></li>
                    <li><a href=""><i class="fa fa-sign-out"></i> {{'Login' | translate}}</a></li>
                    <!--<li ng-repeat="x in productGroups"><a class="page-scroll" href="#about">{{x.title | translate}}</a></li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="color-container" ng-controller="productCtrl">
        <div class="container" style="padding-top:60px">
            <hr />
            <div>
                <h1>{{p.title}}</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img ng-if="p.gallery[0]" src="./upload/{{p.productId}}/gallery/{{p.gallery[0]}}" check-image alt="{{p.title}}" class="img-thumbnail" title="{{p.title}}" />
                    <img ng-if="!p.gallery[0]" src="./img/default.png" alt="{{p.title}}" class="img-thumbnail" title="{{p.title}}" />
                    <!--<img src="upload/{{p.productId}}/mainimage/{{p.image}}" class="img-responsive" alt="{{x.title}}" />-->
                </div>
                <div class="col-sm-6">
                    <h2>{{p.shortDescription}}</h2>
                    <p class="lead text-justify">{{p.longDescription}}</p>
                    <hr />
                    <div class="mt-10">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> {{'email' | translate}}: 
                        <a ng-if="p.email" href="mailto:{{p.email}}" target="_blank" class="btn btn-primary" title="{{'email' | translate}}">{{p.email}}</a>
                    </div>
                    <div class="mt-10">
                        <i class="fa fa-phone" aria-hidden="true"></i> {{'phone' | translate}}: 
                        <a ng-if="p.phone" href="tel:{{p.phone}}" target="_blank" class="btn btn-primary" title="{{'phone' | translate}}">{{p.phone}}</a>
                    </div>
                    <div class="mt-10">
                        <i class="fa fa-globe" aria-hidden="true"></i> {{'web' | translate}}:
                        <a ng-if="p.web" href="{{p.web}}" target="_blank" class="btn btn-primary" title="{{p.web}}">{{p.web}}</a>
                    </div>
                    <div class="mt-10">
                        <i class="fa fa-home" aria-hidden="true"></i> {{'address' | translate}}: {{p.address}}, {{p.postalCode}} {{p.city}}
                    </div>
                </div>
            </div>
            <div>
                <hr />
                <div ng-if="p.gallery.length>1" class="text-center">
                    <label class="text-uppercase lead">{{'gallery' | translate}}</label>
                    <div class="mt-10" ng-repeat="x in p.gallery" >
                        <img ng-if="$index>0" src="../upload/{{p.productId}}/gallery/{{x}}" alt="{{x.title}}" />
                    </div>
                </div>
            </div>
        </div>

        <!--<pre>{{p | json}}</pre>-->
    </div>
  

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>




</body>

</html>
