<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rivijera Split - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.13.0/angular-translate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-partial/2.13.0/angular-translate-loader-partial.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="../js/app.js"></script>-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1" />

    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <style>
        body {
            font-family: 'Brawler';
            font-size: 16px;
        }
    </style>
</head>
<body ng-app="admin" ng-controller="adminCtrl" style="color:black">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" target="_blank"><span class="fa fa-home"></span> Home</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('product')"><a href="#">Product</a></li>
                    <!--<li ng-if="islogin" ng-click="toggleTpl('programPrehrane5')"><a href="#">Instalacije</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('orders')"><a href="#">Narudžbe</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('invoices')"><a href="#">Računi</a></li>-->
                </ul>
                <ul ng-if="islogin" class="nav navbar-nav navbar-right">
                    <li ng-click="f.logout()"><a href="#"><span class="fa fa-sign-in"></span> Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-include="tpl" style="padding-top:20px"></div>

    <script type="text/ng-template" id="login">
        <div class="container" style="padding-bottom:20px">
            <div class="row">
                <div class="col-sm-4">
                    <fieldset class="fieldset-border">
                        <legend class="fieldset-border">Login</legend>
                        <form id="loginform">
                            <div class="input-group" style="margin:5px 0px 0px 0px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input ng-model="u.userName" type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="input-group" style="margin:5px 0px 0px 0px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input ng-model="u.password" type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </form>
                        <div>
                            <button type="submit" form="loginform" ng-click="f.login(u)" class="btn btn-primary pull-right" style="margin:5px 0px 0px 0px"><i class="fa fa-key"></i> Prijava</button>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-8 text-right">
                    <a href="signup.html" class="btn btn-default"><span class="fa fa-sign-out"></span> Registracija</a>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="product">
        <div ng-if="islogin" class="container" style="padding-bottom:40px">
            <div>
                <h2>Oglasi</h2>
            </div>
            <div ng-repeat="x in p" class="mt-10">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                Oglas br. {{$index+1}}
                            </div>
                            <div class="col-sm-6">
                                <button ng-click="f.deleteProduct(x, u)" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> Briši</button>
                            </div>
                        </div>                      
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <form>
                                    <div class="form-group">
                                        <label>Grupa:</label>
                                        <select ng-model="x.productGroup" class="form-control">
                                            <option ng-repeat="x in pg" value="{{x.productGroupId}}">{{x.title}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Naziv:</label>
                                        <input ng-model="x.title" type="text" class="form-control" maxlength="30">
                                    </div>
                                    <div class="form-group">
                                        <label>Kratki opis</label>
                                        <input ng-model="x.shortDescription" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Dugi opis</label>
                                        <textarea ng-model="x.longDescription" rows="4" class="form-control" maxlength="2000"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Ulica i broj</label>
                                        <input ng-model="x.address" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Poštanski broj</label>
                                        <input ng-model="x.postalCode" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Grad</label>
                                        <input ng-model="x.city" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        <input ng-model="x.phone" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input ng-model="x.email" type="email" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Web</label>
                                        <input ng-model="x.web" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Cijena (€)</label>
                                        <input ng-model="x.price" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <!--<div class="form-group">
                                        <label>Latitude</label>
                                        <input ng-model="x.latitude" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input ng-model="x.longitude" type="text" class="form-control">
                                    </div>-->
                                    <div class="text-right">
                                        <button ng-click="f.save(x, u)" type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Spremi</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div ng-if="x.productId">
                                    <label>Galerija</label>
                                    <form id="formUpload_{{x.productId}}" ng-submit="f.upload(x, $index)" enctype="multipart/form-data" method="post">
                                        <input id="imgId" name="imgId" ng-model="x.productId" type="text" hidden="hidden">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input ng-model="file" name="UploadedFile" id="UploadedFile" type="file" accept="image/*" class="form-control">
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-primary text-capitalize"><i class="fa fa-upload"></i> Upload</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="mt-10">
                                        <div ng-repeat="y in x.gallery track by $index" class="mt-20">
                                            <div class="input-group mt-10">
                                                <img src="../upload/{{x.productId}}/gallery/{{y}}" alt="{{x.title}}" class="img-thumbnail" />
                                                <span ng-click="f.deleteImg(x, y)" class="btn btn-default input-group-addon" title="Briši"><i class="fa fa-times text-danger"></i></span>
                                            </div>
                                            <div class="mt-10">
                                                <input id="{{y}}_{{x.productId}}" type="radio" name="mainimg_{{x.productId}}" ng-click="f.setMainImg(x, y)" value="{{y}}" /> <label for="{{y}}_{{x.productId}}" ng-click="f.setMainImg(x, y)">Postavi kao glavnu sliku</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button ng-click="f.newProduct()" class="btn btn-success"><i class="fa fa-plus"></i> Novi oglas</button>
            </div>

            <!--<pre>{{u | json}}</pre>
            <pre>{{p | json}}</pre>-->

        </div>
    </script>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <!--<script src="../js/creative.min.js"></script>-->

    <script src="/admin/js/admin.js"></script>
    <script src="../js/functions.js"></script>

</body>
</html>

